@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: Poppins, sans-serif;
    --color-darker-background: #0f0f11;
    --color-dark-background: #141417;
    --color-dark-surface: #2a2a31;
    --color-light-surface: #cdcdd5;
    --color-light-background: #e9e9ec;
    --color-dark-surface-transparent: rgba(31, 31, 33, 0.6);
    --color-dark-text-primary: #f3f6f7;
    --color-dark-text-secondary: #B3B3B3;
    --color-light-text: #050505;

    --color-primary: #8d4eb8;
    --color-secondary: #5F3D91;
}

:root {
    --timing-function: linear(0, 0.038 1.2%, 0.158 2.6%, 0.793 7.4%, 1.02 9.5%, 1.165 11.6%, 1.207 12.7%, 1.227 13.8%, 1.228 15.2%, 1.203 16.8%, 0.99 24.3%, 0.96 26.3%, 0.947 28.3%, 0.951 30.9%, 0.999 38.1%, 1.012 42.6%, 0.997 57%, 1);
}

* {
    scroll-behavior: smooth;
}

html, body {
    @apply bg-darker-background text-dark-text-secondary;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding-top: 60px;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
}
